ALTER TABLE dbo.rozliczenieProdukcji ADD CONSTRAINT
	rozliczenieProdukcji$PrimaryKey PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
 