
ALTER TABLE dbo.recepturySzczegoly ADD CONSTRAINT
	PK_recepturySzczegoly PRIMARY KEY CLUSTERED 
	(
	recSzczid
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
