/*
   piątek, 16 września 202217:48:07
   User: sa
   Server: EFDEV01
   Database: optimus
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.produkcja SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.produkcja', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.produkcja', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.produkcja', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.produkcjaSzczegoly
	DROP CONSTRAINT PK_produkcjaSzczegoly
GO
ALTER TABLE dbo.produkcjaSzczegoly ADD CONSTRAINT
	PK_produkcjaSzczegoly PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.produkcjaSzczegoly WITH NOCHECK ADD CONSTRAINT
	produkcjaSzczegoly$produkcjaprodukcjaSzczegoly FOREIGN KEY
	(
	idProdukcji
	) REFERENCES dbo.produkcja
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	 NOT FOR REPLICATION

GO
ALTER TABLE dbo.produkcjaSzczegoly
	NOCHECK CONSTRAINT produkcjaSzczegoly$produkcjaprodukcjaSzczegoly
GO
ALTER TABLE dbo.produkcjaSzczegoly SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.produkcjaSzczegoly', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.produkcjaSzczegoly', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.produkcjaSzczegoly', 'Object', 'CONTROL') as Contr_Per 